.titleDiv {
  font-family:sans-serif;
  font-size: 30pt;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.main {
  font-family:sans-serif;
  font-size: 20pt;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.bodyContainer {
  height: 120px;
  max-height: 120px;
  overflow: hidden;
  padding: none;
  margin: none;
  border: none
}

.bodyImages {
  width: 120px;
  max-width: 120px;
}

.bodyFrame {
  display: inline-block;
  cursor:pointer;
}

.outputContainer {
  font-size: 1em;
  display: none;
}

.result {
  font-family: monospace;
  font-size: 3em;
}
