/*Specific items*/
/*EMPTY*/

/*Start of Divs*/
.display {
  font-family:sans-serif;
  font-size: 20pt;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.hiddenDiv {
  display: none; /* Hidden by default */
}

.entryDiv {
  overflow-x:auto;

  max-width: 400px;
  border: 1px solid lightgray;
  padding: 10px;
  padding-bottom:15px;

  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.cardArea {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.costArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px;
}

.dataArea {
 width: 50%;
}

.spacer {
  padding: 20px;
}

.greyBG {
  background-color: rgba(211, 211, 211, 0.3);
}

.whiteBG {
  background-color: rgba(255,255,255,0.5);
}
/*End of Divs*/

/*Start of Content*/
.content {
  text-align: left;
}

.timeContent {
  font-size: 12px;
}

.costContet {
  padding: 5px;
}
/*End of Content*/

/*Start of Labels*/
.label{
  font-size: 10pt;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
  text-align: left;
}

.costLabel {
  text-align: center;
}

.costDollarLabel {
  font-size: 100%;
}

/*End of Labels*/

/*Start of Buttons*/
.numBox {
  font-size: 20pt;
  width: 70px;
}

.button {
  width: auto;
  font-size: 20pt;
  color: white;
  background-color: slateblue;
  border: none;
  margin: 10px;
  cursor: pointer;
  /*display: inline-block;*/
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.3);

  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.button:hover {
  box-shadow: 0px 6px 10px 0px rgba(0,0,0, 0.4);
  background-color: royalblue;
}

.button:active {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.3);
  background-color: slategrey;
}

.clearBtn, .delButton {
  font-size:12pt;
  background-color: tomato;
  cursor: pointer;
}
.clearBtn:hover, .clearBtn:active, .delButton:hover, .delButton:active {
  background-color: red;
}

.editBtnArea {
  height: 100%;
}

.editButton {
  cursor: pointer;
  width: 30%;
  font-size:11pt;
  background-color: cadetblue;
  margin-bottom:30px;
}

.editButton:hover, .editButton:active {
  background-color: teal;
}
/*End of Buttons*/

/*Animations*/
@-webkit-keyframes animateIn {
  from {
    transform: scale(0);
    opacity: 0;
    /*height: 0px;*/
  }
  to {
    transform: scale(1);
    opacity: 1;
    /*height: 230px;*/
  }
}

@keyframes animateIn {
  from {
    transform: scale(0);
    opacity: 0;
    /*height: 0px;*/
  }
  to {
    transform: scale(1);
    opacity: 1;
    /*height: 230px;*/
  }
}

.moveIn {
  animation: animateIn 0.5s;
  -webkit-animation: animateIn 0.5s;
}

.moveOut {
  animation: animateIn 0.5s reverse;
  -webkit-animation: animateIn 0.5s reverse;
}
