/*Styles*/
.highlightYellow {
  background-color: rgb(255,230,180);
}

.modalSpacer {
  width: 0px;
  height: 100px;
  border: 1px solid lightgrey;
  margin: 9%;
}
/*Inputs areas*/
.detailsInputArea {
  text-align: left;
}
.costInputArea {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: center;
}

.textInput {
  width: 200px;
}

.costTextInput {
  font-size:20px;
  height:50px;
  width:100px;
}

/*Buttons*/
#myBtn {
  font-size: 20px;
  border: none;
  background-color: rgb(50,170,70);
  color: white;
  padding: 10px;
}

.modalInputBtn, .modalInputBtn:hover, .modalInputBtn:active {
  font-size:16px;
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
}

.modalInputBtn {
  /*This goes after initial set to set the original color ONLY*/
  background-color: slategrey;
}

.closeBtn {
  /* The Cancel Button */
    color: white;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    background-color: tomato;
    border-radius: 0px 20px 0px 10px;
    margin: -2px -16px -20px -200px;
}

.closeBtn:hover,
.closeBtn:focus {
  /* The Close Button */
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.done {
  /* The Done Button */
  background-color: green;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.done:hover,
.done:focus {
  /* The Done Button */
  background-color: lightgreen;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-family: sans-serif;
    position: auto;
    text-align: center;
    margin: 15% auto;
    background-color: #fefefe;
    width: 500px;
    border-radius: 25px;
}

 /* Other Modal Elements */
 .modal-costArea {
   width: 90%;
   padding: 5px;
}

.modal-costDollarLabel {
  padding-top: 35px;
  font-size: 150%;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-radius: 20px 20px 0 0;
}

.modal-body {padding: 16px 16px;
}

.modal-footer {
    padding: 20px;
    background-color: #5cb85c;
    color: white;
    border-radius: 0 0 20px 20px;
}

/* Animations */
.donePulse {
  animation-name: donePulseAnim;
  animation-duration: 0.6s;
  -webkit-animation-name: donePulseAnim;
  -webkit-animation-duration: 0.6s;
}

.modalFadeIn {
  /* Fade in the background */
     -webkit-animation-name: fadeIn;
     -webkit-animation-duration: 0.4s;
     animation-name: fadeIn;
     animation-duration: 0.4s
}

.modalFadeOut {
  animation: fadeIn 0.1s reverse;
  -webkit-animation: fadeIn 0.1s reverse;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes donePulseAnim {
  0% {background-color: green}
  50% {background-color: lightgreen}
  100% {background-color: green}
}

@keyframes donePulseAnim {
  0% {background-color: green}
  50% {background-color: lightgreen}
  100% {background-color: green}
}
